<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans flex-col pt-24">
    <h1 class="text-black">Todo List</h1>
      <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
            <div class="flex flex-col mt-4 justify-center items-center mb-8">
                <button class="flex-no-shrink p-2 border-2 rounded w-2/6"><%= link_to("Add a Todo", new_task_path) %></button>
            </div>
        </div>
        <div>
            <% @task.each do |task| %>
            <div class="flex mb-4 items-center justify-between">
                <div id="text" class="flex flex-col">
                  <p class="w-full text-grey-darkest"><strong><%= task.title %></strong></p>
                  <p class="w-full text-grey-darkest"><%= task.details %></p>
                </div>
                <div id ="tasks" class="flex flex-row text-right">
                  <% if task.completed == true %>
                    <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded">Done</button>
                    <% else %>
                      <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded">Not Done</button>
                  <% end %>
                  <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded"><%= link_to("See task", task_path(task)) %></button>
                  <button class="flex-no-shrink p-2 ml-2 border-2 rounded">Remove</button>
                </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>