<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<div class="w-full flex flex-col justify-center items-center">
    <h1>Create a new todo item</h1>
    <%= render "form", task: @task %>
</div>
